$colorprincipal:  #673AB7;
$colorslogan: mediumslateblue;
$colorlink:blue;
$tipografiaprincipal: Georgia, 'Times New Roman', Times, serif;
$colorh3ah5: black;
$colorh6: rgba(0, 0, 0, 0.352);
$centrado: center;
$textofooter: #757575;
$redes: #536DFE;

