footer{
    text-align: $centrado;
    .textoFooter{
        color: $textofooter;
        font-weight: 300;
        
        
        }
    .iconosredes{
    color: $redes;
    font-size: 3rem;
    margin: 3rem;
    padding: 2%;
    
}

}